/target
/desafio-saque-rust 
/desafio-transferencia-rust

# Estou em outro repositório
# desafio-transferencia-rust: https://github.com/wdwallaceduarte/desafio-transferencia-rust.git
# desafio-saque-rust: https://github.com/wdwallaceduarte/-desafio-saque-rust.git
